// -----------------------------------------------
%top {
	width: 128px;
	height: 128px;
	background-image: url('../img/base64/top.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%base64-top.png {
	width: 128px;
	height: 128px;
	background-image: url('../img/base64/top.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%zoom {
	width: 128px;
	height: 128px;
	background-image: url('../img/base64/zoom.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%base64-zoom.png {
	width: 128px;
	height: 128px;
	background-image: url('../img/base64/zoom.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
